{
  "UseSSL": true,
  "SentryDsn": "",
  "Port": 6969,
  "Domain": "screenshotter.example.com",
  "Email": "connor@example.com",
  "RequestLogging": {
    "Enable": true,
    "ShowStatus": true,
    "ShowIP": true,
    "ShowMethod": false,
    "ShowPath": true,
    "ShowQuery": false
  },
  "CORS": {
    "Enable": true,
    "AllowedOrigins": ["*"]
  }
}